@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
    background-color: rgba(60, 197, 11, 0.7);
    font-family: 'Roboto', sans-serif;
}
.navbar{
    margin-bottom: 5px;
}
ul li{
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    color: #f5f5f5;
    font-size: 18px;
}
ul li span{
    display: flex;
    align-items: flex-start;
}
ul{
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.line-through{
    text-decoration: line-through;
}

.text-input {
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    width: 300px;
    height: 41px;
    padding-left: 10px;
    appearance: none;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0 auto 10px auto;
    display: inline-block;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
}

.text-input:hover{
     background-color: rgba(255, 255, 255, 0.4);
 }

.text-input:focus{
     background-color: white;
     width: 300px;
     color: rgba(0, 0, 0, 0.4);
 }

.text-input::placeholder{
    color: #fffafa;
    font-size: 18px;
}

.text-input:focus::placeholder{
    color: #a9a8a8;
    font-size: 18px;
}

.btn{
    background: none;
    border-radius: 5px;
    padding: 0 10px;
    height: 41px;
    font-size: 18px;
    color: #fff;
}


.add-btn{
    background-color: rgba(0, 111, 255, 0.86);
    border: 2px solid rgba(0, 111, 255, 0.86);
}

.clear-all{
    background-color: #e74c3c;
    border: 2px solid #e74c3c;
}

.del-btn{
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    color: #e74c3c;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    padding: 7px 10px;
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}


.del-btn:hover,
.del-btn:focus {
    box-shadow: 0 0 40px 40px #e74c3c inset;
     color: #fff;
     outline: 0;
 }

input[type= "checkbox"]{
    position: relative;
    cursor: pointer;
    margin-right: 15px;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 1px;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color:#e9e9e9;
}
input[type=checkbox]:checked:before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 1px;
    top: 0;
    left: 0;
    background-color:#1E80EF;
}
input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-radius: 1px;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 2px;
    left: 6px;
}